<a2d-desktop>
  <div class="windows">
    <a2d-window
      [id]="'chrome'"
      [title]="'google chrome'"
      [state]="WindowState.DOCKED"
      [showHeader]="true"
      [dockPosition]="DockPosition.TOP"
      [x]="50"
      [y]="50"
      [showDockingTools]="false"
      [width]="400"
      [height]="400">
      <div class="header">
        Google Chrome
      </div>
      <div class="body">

        test
      </div>
    </a2d-window>
    <a2d-window
      [id]="'firefox'"
      [title]="'firefox'"
      [state]="WindowState.NORMAL"
      [dockPosition]="DockPosition.LEFT"
      [x]="400"
      [y]="400"
      [alwaysOnTop]="true"
      [showCloseBtnOnly]="false"
      [showDockingTools]="true"
      [width]="400"
      [height]="400">
      <div class="body">
        <button>Some Btn</button>
      </div>
    </a2d-window>
    <a2d-window
      [id]="'gmail'"
      [title]="'google mail'"
      [state]="WindowState.NORMAL"
      [dockPosition]="DockPosition.LEFT"
      [showWindowBtns]="false"
      [x]="200"
      [y]="200"
      [width]="400"
      [height]="400">
      <div class="body">
        <button>Some Btn</button>
      </div>
    </a2d-window>
  </div>
  <div class="bar-top">
    <a2d-task-bar></a2d-task-bar>
  </div>
  <div class="bar-left">
    <a2d-shortcut [windowId]="'chrome'" [icon]="'/assets/images/icons/chrome.png'"></a2d-shortcut>
    <a2d-shortcut [windowId]="'firefox'" [icon]="'/assets/images/icons/firefox.png'"></a2d-shortcut>
    <a2d-shortcut [windowId]="'gmail'" [icon]="'/assets/images/icons/gmail.png'"></a2d-shortcut>
  </div>


</a2d-desktop>
