/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
  //overflow: hidden;
  min-height: 100% !important;
  margin: 0;
  padding: 0;
}

